PORT=3000
CLIENT_URL=https://bloggen-7d6l.onrender.com
MONGO_URI=
MONGO_DB_NAME=BlogGen
JWT_SECRET=
ADMIN_EMAIL=
ADMIN_PASSWORD=
GEMINI_API_KEY=
IMAGEKIT_PUBLIC_KEY=
IMAGEKIT_PRIVATE_KEY=
IMAGEKIT_URL_ENDPOINT=
